[Unit]
Description=Aptly

[Service]
User={{ aptly_user }}
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/aptly serve -listen={{ aptly_listen }} -config={{ aptly_config_path }}
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
